body {
  margin: 0 auto;
  padding: 0; 
  background: #111 url('../img/dark.png') repeat;
  color: #999;
  font-family: Helvetica, Arial, sans-serif; 
  line-height: 1.4;
  font-size: 16px;
}
.content, .title, .footer {
  width: 650px; 
  text-align: left; 
  margin: 0 auto; 
  padding: 0;
}
.title h1 {
  padding-top: 20px;
  margin-top: 0;
  border-top: 20px solid #333; 
}
.title h1 span {
  color: #cfc;
}
h1 { font-size: 36px; }
h2, h3, h4 { font-size: 24px; }
h1, h2, h3, h4 { 
  padding: 0; 
  margin: 10px 0 10px 0; 
  color: #fff;
  font-family: 'Aldrich', sans-serif;
}
h2, h3, h4 {
  border-bottom: 2px solid #cfc;
}
ul {
  list-style-type: none;
  margin: 0 0 20px;
  padding: 0;
}
li {
  border: none;
  margin-bottom: 2px;
}
ul.portfolio {
  font-size: 12px;
}
ul.techstack {
  margin-bottom: 30px;
}
ul.techstack li {
  color: #ccc;
  font-size: 12px;
  display: inline;
  margin-right: 3px;
  padding: 3px 5px;
  background: #333;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}
a {
  color: #ddd;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
ul.portfolio a {
  font-size: 16px;
  margin-right: 10px;
}
ul.portfolio del {
  font-size: 16px;
  margin-right: 10px;
  color: #aaa;
}
.about, .tech {
  margin-bottom: 30px;
}
.footer {
  margin-top: 30px;
  padding-top: 30px;
  padding-bottom: 10px;
  background-color: #333;
  font-size: 12px;
  text-align: center;
  color: #666;
}
